
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="missage">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Missage</ion-label>
      <ion-badge color="danger">66</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="take-photo">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Take Photo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
